{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <h1>Каталог</h1>
    {% if current_user.admin == 'True' %}
        <a href="inventory" class="btn btn-secondary">Добавить Позицию</a>
        <a href="/req" class="btn btn-secondary">Запросы</a>
    {% endif %}
<div>
<div class="row">
    {% for item in arend %}
        <div class="col-md-3 m-1 p-1 border rounded">
            <h2>{{ item.title }}</h2>
            <div class="m-1">
                <a href="/inventory/{{ item.id }}/more_detailed" class="btn btn-warning">Подробнее</a>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    {% for item in inventory %}
        <div class="col-md-3 m-1 p-1 border rounded">
            <h2>{{ item.title }}</h2>
            {% if current_user.admin == 'True' %}
                <div class="m-1">
                    <a href="/inventory/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/news_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}
            <div class="m-1">
                <a href="/inventory/{{ item.id }}/more_detailed" class="btn btn-warning">Подробнее</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>Ошибка авторизации</h1>
{% endif %}
</div>
{% endblock %}