{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="row">
    <div class="col-md-5 m-1 p-1 border rounded">
        <div class="m-1">
            <a>Здесь должна быть фотка</a>
        </div>
    </div>
    <div class="col-md-6 m-1 p-1 border rounded">
        <div class="m-1">
            <a>Описание</a>
        </div>
        <div class="m-1">
            <a>
                {% for item in n %}
                    {{ item.content }}
                {% endfor %}
            </a>
        </div>
    </div>
    <div>
    <a href="/inventory/{{id}}/more_detailed/arend" class="btn btn-success">Арендовать</a>
    <a href="/inventory/{{id}}/more_detailed/end" class="btn btn-primary">Сдать</a>
    </div>
</div>


{% endif %}
{% endblock %}